.container {
	width: 80%;
	margin: auto;
}

.header {
	display: inline;
}

.header h1 {
	text-align: center;
}

.people {
	text-align: right;
	padding: 10px;
	margin-right: 13em;
}

.people ul {
	list-style: none;
}

.entry {
	padding: 10px;
}

.btn {
	background: #cccccc;
	border: none;
	padding: 10px 135px;
	float: right;
	border-radius: 5px;
	margin-top: 25px;
}
}
